<html>
    <head>
        <link rel="stylesheet" href="../styles/liteNotification.css" type="text/css">
        <link rel="stylesheet" href="../styles/jquery-ui-1.8.15.custom.css" type="text/css">
        <script type="text/javascript" src="../javascript/libs/jquery-1.6.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery-ui-1.8.15.custom.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery.Scroller-1.0.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery-i18n.js"></script>
        <script type="text/javascript" src="../javascript/groovesharkControl.js"></script>
        <script type="text/javascript" src="../javascript/notification.js"></script>
    </head>
    <body onload="Notification.init();" onmouseover="Notification.cancelClose();">
        <div class="nowPlaying">
            <div id="liteLine">
                <div class="scrollingtext">
                    <span class="song"></span> <span i18n-text="liteBy"></span> <span class="artist"></span>, <span class="album"></span>
                    (<span class="timeDuration"></span>,
                    <span class="position">
                        <span class="queuePosition"></span>
                        <span i18n-text="ofSong"></span>
                        <span class="queueCountSongs"></span>)
                    </span>
                </div>
            </div>
            <div class="progressbar">
                <div class="left"></div>
                <div class="elapsed"></div>
                <div class="right"></div>
            </div>
        </div>
        <div class="player">
            <button id="previous" onclick="userAction('previousSong');" i18n-title="songPrevious"></button>
            <button id="playpause" class="play" onclick="userAction('playPause');" i18n-title="songPlayPause"></button>
            <button id="next" onclick="userAction('nextSong');" i18n-title="songNext"></button>
        </div>

        <div id="switchToFullNotification"></div>
    </body>
</html>
