<html>
	<head>
		<link rel="stylesheet" href="../styles/notification.css" type="text/css">
		<script type="text/javascript" src="../javascript/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="../javascript/groovesharkControl.js"></script>
		<script type="text/javascript" src="../javascript/notification.js"></script>
	</head>
	<body onload="init()" onmouseover="turnOffCloseOfWindow()">
	    <img id="image" />
		<div id="library" onclick="userAction('toggleLibrary');"></div>
		<div id="favorite" onclick="userAction('toggleFavorite');"></div>
	    <div id="song"></div>
	    <div id="artist"></div>
	    <div id="album"></div>
	    <div id="time">
	        <span class="elapsed"></span> of
	        <span class="duration"></span>
	    </div>
	    <div id="player">
			<button id="previous" onclick="userAction('previous');" title="Previous song"></button>
			<button id="playpause" class="play" onclick="userAction('playOrPause');" title="Play/pause"></button>
			<button id="next" onclick="userAction('next');" title="Next song"></button>
	    </div>
	    <div id="countDown"></div>
	</body>
</html>
