<html>
    <head>
        <link rel="stylesheet" href="../styles/popup.css" type="text/css">
        <link rel="stylesheet" href="../styles/jquery-ui-1.8.15.custom.css" type="text/css">
        <script type="text/javascript" src="../javascript/libs/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery-ui-1.8.15.custom.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="../javascript/libs/jquery-i18n.js"></script>
        <script type="text/javascript" src="../javascript/groovesharkControl.js"></script>
        <script type="text/javascript" src="../javascript/popup.js"></script>
    </head>
    <body onload="init();">
        <div id="player" class="player">
            <button id="pin" class="unpin" onclick="showNotification(stay=true);" i18n-title="playerPin"></button>
            <button id="shuffle" class="false" onclick="userAction('toggleShuffle');" i18n-title="songShuffle"></button>
            <button id="loop" class="none" onclick="userAction('toggleLoop');" title="Loop songs" i18n-title="songLoop"></button>
            <button id="crossfade" class="false" onclick="userAction('toggleCrossfade');" i18n-title="songCrossfade"></button>
            <button id="gotogrooveshark" onclick="goToGroovesharkTab();" i18n-title="playerSite"></button>
            <button id="previous" onclick="userAction('previousSong');" i18n-title="songPrevious"></button>
            <button id="next" onclick="userAction('nextSong');" i18n-title="songNext"></button>
            <button id="playpause" class="play" onclick="userAction('playPause');" i18n-title="songPlayPause"></button>
        </div>
        <div id="nowPlaying" class="nowPlaying">
            <img class="image" />
            <div class="song"></div>
            <div class="artist"></div>
            <div class="album"></div>
            <div class="time">
                <span class="timeElapsed"></span>
                <span i18n-text="ofTime"></span>
                <span class="timeDuration"></span>
            </div>
            <div class="position">
                <span class="queuePosition"></span>
                <span i18n-text="ofSong"></span>
                <span class="queueCountSongs"></span>
            </div>
            <div class="library" onclick="userAction('toggleLibrary');"></div>
            <div class="favorite" onclick="userAction('toggleFavorite');"></div>
            <div class="smile disable" onclick="userAction('toggleSmile');"></div>
            <div class="frown disable" onclick="userAction('toggleFrown');"></div>
            <div id="progressbar" class="progressbar">
                <div class="left"></div>
                <div class="elapsed"></div>
                <div class="right"></div>
            </div>
        </div>
        <div id="playlist" class="playlist"></div>
        <div id="radio" class="radio"><span i18n-text="radio"></span>: <span class="station"></span></div>
    </body>
</html>
