<html>
	<script type="text/javascript" src="../javascript/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="../javascript/popup.js"></script>
	
	<link rel="stylesheet" href="../styles/popup.css" type="text/css">
	
	<body onload="init()">
		<div id="player">
			<button id="shuffle" class="false" onclick="userBrowserAction('shuffle');"></button>
			<button id="loop" class="none" onclick="userBrowserAction('loop');"></button>
			<button id="crossfade" class="false" onclick="userBrowserAction('crossfade');"></button>
			<button id="gotogrooveshark" onclick="goToGroovesharkTab();"></button>
			<button id="previous" onclick="userBrowserAction('previous');" title="Previous song"></button>
			<button id="playpause" class="play" onclick="userBrowserAction('playOrPause');" title="Play/pause"></button>
			<button id="next" onclick="userBrowserAction('next');" title="Next song"></button>
		</div>
		
		<div id="nowPlaying">
			<img class="image" />
			<div class="song"></div>
			<div class="artist"></div>
			<div class="album"></div>
			<div class="time"><span class="timeElapsed"></span> of <span class="timeDuration"></span></div>
			<div class="position"></div>
			<div class="inmusic"></div>
			<div class="favorite"></div>
			<div id="statusbar"><div class="elapsed"></div></div>
		</div>
		
		<div id="playlist"></div>
	</body>
</html>
