<html>
    <head>
        <link rel="stylesheet" href="../styles/liteNotification.css" type="text/css">
        <script src="../javascript/groovesharkControl.min.js" charset="utf-8"></script>
        <script src="../javascript/notification-lite.min.js" charset="utf-8"></script>
    </head>
    <body id="body">
        <div id="song">
            <marquee behavior="scroll" direction="left" scrollamount=1 scrolldelay=20 truespeed=1>
                <span id="songName"></span> <span i18n-text="liteBy"></span> <span id="artistName"></span>, <span id="albumName"></span>
                <span id="position">
                    (<span id="queuePosition"></span>
                    <span i18n-text="ofSong"></span>
                    <span id="queueCountSongs"></span>)
                </span>
            </marquee>
        </div>

        <div id="player">
            <div id="progressbar">
                <div class="left"></div>
                <div class="elapsed"></div>
                <div class="right"></div>
                <div class="goog-slider-thumb"></div>
            </div>

            <button id="previous" i18n-title="songPrevious"></button>
            <button id="playpause" class="play" i18n-title="songPlayPause"></button>
            <button id="next" i18n-title="songNext"></button>
        </div>

        <div id="countDown"></div>
        <div id="switchToFullNotification"></div>
    </body>
</html>
