<html>
    <head>
        <link rel="stylesheet" href="../styles/notification.css" type="text/css">
        <script src="../javascript/compiled/groovesharkControl.min.js" charset="utf-8"></script>
        <script src="../javascript/compiled/notification.min.js" charset="utf-8"></script>
    </head>
    <body id="body">
        <div id="clicableCover"></div>
        <div id="song">
            <div id="songInfo">
                <div id="songName">Song</div>
                <div id="artistName">Artist</div>
                <div id="albumName">Album</div>
                <div id="position">
                    <span id="queuePosition"></span>
                    <span i18n-text="ofSong"></span>
                    <span id="queueCountSongs"></span>
                </div>
                <button id="lyrics" i18n-title="searchLyrics"></button>
                <button id="share" i18n-title="share"></button>
            </div>
            <div id="songOptions">
                <img id="albumArt" src="http://images.grooveshark.com/static/albums/90_album.png" />
                <div class="songOptions">
                    <div class="background"></div>
                    <button id="library" class="disable" i18n-title="toggleLibrary"></button>
                    <button id="favorite" class="disable" i18n-title="toggleFavorite"></button>
                    <button id="smile" class="disable" i18n-title="toggleSmile"></button>
                    <button id="frown" class="disable" i18n-title="toggleFrown"></button>
                </div>
            </div>
        </div>

        <div id="player">
            <div class="firstLine">
                <div class="left">
                    <button id="volume" class="volume0"></button>
                    <div id="volumeSliderWrapper">
                        <div id="volumeSlider">
                            <div class="elapsed"></div>
                            <div class="goog-slider-thumb"></div>
                        </div>
                    </div>

                    <button id="shuffle" class="false" i18n-title="songShuffle"></button>
                    <button id="loop" class="none" title="Loop songs" i18n-title="songLoop"></button>
                    <button id="crossfade" class="false" i18n-title="songCrossfade"></button>
                </div>

                <div class="right">
                    <button id="previous" i18n-title="songPrevious"></button>
                    <button id="playpause" class="play" i18n-title="songPlayPause"></button>
                    <button id="next" i18n-title="songNext"></button>
                </div>
            </div>

            <div class="secondLine">
                <div id="progressbar">
                    <div class="left"></div>
                    <div class="elapsed"></div>
                    <div class="right"></div>
                    <div class="goog-slider-thumb"></div>
                </div>
                <div id="time">
                    <span id="timeElapsed"></span>
                    <span i18n-text="ofTime"></span>
                    <span id="timeDuration"></span>
                </div>
            </div>
        </div>

        <div id="countDown"></div>
        <div id="switchToLiteNotification"></div>
    </body>
</html>
