<html>
    <head>
        <link rel="stylesheet" href="../styles/popup.css" type="text/css">
        <script src="../javascript/groovesharkControl.min.js" charset="utf-8"></script>
        <script type="text/javascript">var popup = new gc.Popup();</script>
    </head>
    <body onload="popup.init();">
        <div id="player" class="player">
            <button id="pin" class="unpin" onclick="gc.showNotification(stay=true); popup.hidePin();" i18n-title="playerPin"></button>
            <button id="shuffle" class="false" onclick="gc.sendCommandToGrooveshark('toggleShuffle');" i18n-title="songShuffle"></button>
            <button id="loop" class="none" onclick="gc.sendCommandToGrooveshark('toggleLoop');" title="Loop songs" i18n-title="songLoop"></button>
            <button id="crossfade" class="false" onclick="gc.sendCommandToGrooveshark('toggleCrossfade');" i18n-title="songCrossfade"></button>
            <button id="gotogrooveshark" onclick="gc.goToGroovesharkTab();" i18n-title="playerSite"></button>
            <button id="previous" onclick="gc.sendCommandToGrooveshark('previousSong');" i18n-title="songPrevious"></button>
            <button id="next" onclick="gc.sendCommandToGrooveshark('nextSong');" i18n-title="songNext"></button>
            <button id="playpause" class="play" onclick="gc.sendCommandToGrooveshark('playPause');" i18n-title="songPlayPause"></button>
        </div>
        <div id="nowPlaying" class="nowPlaying">
            <img class="image" />
            <div class="song"></div>
            <div class="artist"></div>
            <div class="album"></div>
            <div class="time">
                <span class="timeElapsed"></span>
                <span i18n-text="ofTime"></span>
                <span class="timeDuration"></span>
            </div>
            <div class="position">
                <span class="queuePosition"></span>
                <span i18n-text="ofSong"></span>
                <span class="queueCountSongs"></span>
            </div>
            <div class="library" onclick="gc.sendCommandToGrooveshark('toggleLibrary');"></div>
            <div class="favorite" onclick="gc.sendCommandToGrooveshark('toggleFavorite');"></div>
            <div class="smile disable" onclick="gc.sendCommandToGrooveshark('toggleSmile');"></div>
            <div class="frown disable" onclick="gc.sendCommandToGrooveshark('toggleFrown');"></div>
            <div id="progressbar" class="progressbar">
                <div class="left"></div>
                <div class="elapsed"></div>
                <div class="right"></div>
                <div class="goog-slider-thumb"></div>
            </div>
        </div>
        <div id="playlist" class="playlist"></div>
        <div id="radio" class="radio" onclick="gc.sendCommandToGrooveshark('toggleAutoplay');"><span i18n-text="radio"></span>: <span id="radioTitle"></span></div>
    </body>
</html>
