
@import url("progressbar.css");

body {
    color: #CCC;
    background: url('../images/background_nowPlaying.png') repeat-x -50px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    height: 35px;
    cursor: default;
}

#countDown {
    background: #444;
    width: 100%;
    height: 5px;
    margin: 0px -7px;
    position: absolute;
    bottom: 0px;
}

#switchToFullNotification {
    width: 16px;
    height: 16px;
    background: url('../images/pin.png'); /*#555*/
    position: absolute;
    bottom: -5px;
    left: -6px;
    cursor: pointer;
    z-index: 10;
}
#switchToFullNotification:hover {
    bottom: -2px;
    left: -2px;
}

/* PLAYER OPTIONS */

.player {
    position: absolute;
    bottom: -2px;
    right: 10px;
}

.player button {
    width: 20px;
    height: 35px;
    background: url('../images/controls.png') no-repeat;
    border: none;
    cursor: pointer;
}

#playpause.play { background-position: -50px 0px !important; }
#playpause.pause { background-position: -50px -40px !important; }
#previous { background-position: -50px -80px !important; }
#next { background-position: -50px -120px !important; }

#playpause:hover,
#previous:hover,
#next:hover {
    background-position-x: -130px !important;
}

/* NOW PLAYING */

.nowPlaying .song {
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
}

div.scrollingtext{
    position: absolute;
    white-space: nowrap;
}

/* PROGRESS BAR */

#progressbar {
    width: 200px; /* 285px */
    position: absolute;
    bottom: 7px;
}
