
@import url("progressbar.css");

body {
    color: #CCC;
    background: url('../images/background_nowPlaying.png') repeat-x -50px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    height: 85px;
    cursor: default;
}

#countDown {
    background: #444;
    width: 100%;
    height: 5px;
    margin: 0px -7px;
    position: absolute;
    bottom: 0px;
}

#switchToLiteNotification {
    width: 16px;
    height: 16px;
    background: url('../images/pin.png'); /*#555*/
    position: absolute;
    bottom: -5px;
    left: -6px;
    cursor: pointer;
    z-index: 10;
}
#switchToLiteNotification:hover {
    bottom: -2px;
    left: -2px;
}

/* PLAYER OPTIONS */

.player {
    position: absolute;
    top: 0px;
    right: 5px;
}

.player button {
    width: 25px;
    height: 35px;
    background: url('../images/controls.png') no-repeat;
    border: none;
    cursor: pointer;
}

#playpause.play { background-position: -50px 0px !important; }
#playpause.pause { background-position: -50px -40px !important; }
#previous { background-position: -50px -80px !important; }
#next { background-position: -50px -120px !important; }

#playpause:hover,
#previous:hover,
#next:hover {
    background-position-x: -130px !important;
}

/* NOW PLAYING */

.nowPlaying {
    background: url('../images/background_nowPlaying.png') repeat-x;
    height: 110px;
    margin: 0px -6px 0px -6px;
    padding: 0px 5px 5px;
    position: relative;
}

.nowPlaying .song,
.nowPlaying .artist,
.nowPlaying .album {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
}

.nowPlaying .song {
    color: #FFF;
    font-size: 1.3em;
    width: 200px;
}

.nowPlaying .image {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    background: url(http://images.grooveshark.com/static/albums/90_album.png) no-repeat -5px -5px;
}

.nowPlaying .time {
    font: 0.5em;
    position: absolute;
    bottom: 25px;
}

.nowPlaying .position {
    font: 0.5em;
    position: absolute;
    bottom: 25px;
    right: 92px;
}

.nowPlaying .library,
.nowPlaying .favorite {
    width: 19px;
    height: 18px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.nowPlaying .library {
    background: url('../images/library.png');
    right: 66px;
}
.nowPlaying .library.disable {
    background: url('../images/library-off.png');
}

.nowPlaying .favorite {
    background: url('../images/favorite.png');
    right: 47px;
}
.nowPlaying .favorite.disable {
    background: url('../images/favorite-off.png');
}

.nowPlaying .library.disable,
.nowPlaying .favorite.disable {
    opacity: .75;
}

.nowPlaying .library:hover,
.nowPlaying .favorite:hover {
    opacity: 1;
}

.nowPlaying .smile,
.nowPlaying .frown {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background: url('../images/smile_frown.png');
    opacity: .5;
}

.nowPlaying .smile.active:hover,
.nowPlaying .frown.active:hover {
    opacity: 0.75;
}

.nowPlaying .smile.active,
.nowPlaying .frown.active,
.nowPlaying .smile:hover,
.nowPlaying .frown:hover {
    opacity: 1;
}

.nowPlaying .smile { background-position: 0px 0px !important; right: 20px; }
.nowPlaying .smile.active { background-position: 0px -14px !important; }
.nowPlaying .frown { background-position: -14px 0px !important; right: 6px; }
.nowPlaying .frown.active { background-position: -14px -14px !important; }

.nowPlaying .smile.disable,
.nowPlaying .frown.disable {
    display: none;
}

/* PROGRESS BAR */

#progressbar {
    width: 200px; /* 285px */
    position: absolute;
    bottom: 10px;
}
