
body {
    color: #CCC;
    background: #252525;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    cursor: default;
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}


@mixin playerOptionIcon {
    width: 30px;
    height: 38px;
    background: url(../images/icons_player.png);
}
@mixin songOptionIcon {
    width: 18px;
    height: 18px;
    background: url(../images/icons_song.png);
    position: relative;
    z-index: 1;
}



#mainBar {
    width: 100%;
    height: 40px;
    background: url(../images/backgrounds.png) 0px 2px;
    padding: 0;
    margin: 0;

    #gotogrooveshark {
        float: left;
        width: 140px;
        height: 38px;
        margin-top: 2px;
        background: url(../images/icons_player.png) 0px 0px;
        border: none;
    }

    #search, #nowPlaying {
        line-height: 40px;
        margin: 0px 10px;
        font-weight: bold;
        font-size: 0.9em;
        text-shadow: 0 0 1px black;
        color: #999;
        background: none;

        &:hover { color: #FFF; }
    }

    #pin {
        float: right;
        width: 20px;
        height: 20px;
        background: url(../images/pin.png) 0px 5px no-repeat;
    }
}

#song {
    height: 100px;
    font-size: 1.2em;
    position: relative;

    #songInfo {
        float: left;
        width: 200px;
        margin: 5px 0px 5px 10px;

        #songName, #artistName, #albumName {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #songName {
            font-size: 1.4em;
            color: #FFF;
        }
        #artistName:hover,
        #albumName:hover,
        #albumArt:hover + #albumName {
            color: #FFF;
            cursor: pointer;
        }

        #share {
            width: 16px;
            height: 16px;
            background: url(../images/icons_context.png) 0px -80px;
            border: none;
            position: absolute;
            bottom: 10px;
            right: 105px;

            &:hover {
                background-position-x: -16px;
            }
        }
    }

    #songOptions {
        width: 90px;
        height: 90px;
        margin: 5px 10px;
        float: right;

        #albumArt {
            cursor: pointer;
            width: 90px;
            height: 90px;
            border: none;
        }

        .songOptions {
            position: relative;
            top: -18px;
            padding: 0px 3px;

            .background {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 18px;
                background: #000;
                opacity: 0.9;
            }
        }
        &:hover > div div {
            opacity: 1;
        }

        #library {
            @include songOptionIcon;
            background-position: -54px -72px;
            &.disable { background-position: -54px -216px; }
            &:hover { background-position: -36px -72px; background-color: #7DB721; }
        }
        #favorite {
            @include songOptionIcon;
            background-position: -54px -90px;
            &.disable { background-position: -54px -234px; }
            &:hover { background-position: -36px -90px; background-color: #FC0093; }
        }

        #smile {
            @include songOptionIcon;
            background-position: -54px -108px;
            &.disable { background-position: -54px -252px; }
            &:hover { background-position: -36px -108px; background-color: #FFD700; }
        }
        #frown {
            @include songOptionIcon;
            background-position: -54px -126px;
            &.disable { background-position: -54px -270px; }
            &:hover { background-position: -36px -126px; background-color: #4AB6F3; }
        }
    }
}

#player {
    .firstLine {
        position: relative;
        background: url(../images/backgrounds.png) 0 -145px;
        height: 38px;
        padding: 0px 5px;

        .left { float: left; }
        .right { float: right; }

        #volume {
            @include playerOptionIcon;
            background-position-y: -148px;
            &.mute { background-position-x: -95px; }
            &.volume0 { background-position-x: -135px; }
            &.volume20 { background-position-x: -175px; }
            &.volume40 { background-position-x: -215px; }
            &.volume60 { background-position-x: -255px; }
            &.volume80 { background-position-x: -295px; }
            &.volume100 { background-position-x: -335px; }
        }
        #volumeSlider {
            display: none;
            position: absolute;
            left: 10px;
            bottom: 30px;
            height: 98px;
            width: 24px;
            background: url(../images/volume_slider.png) 0px -7px;

            .elapsed {
                background: #F77F00;
                width: 4px;
                height: 20px;
                bottom: 13px;
                left: 10px;
                position: absolute;
            }
            .goog-slider-thumb {
                background: url(../images/volume_slider.png);
                width: 12px;
                height: 7px;
                cursor: pointer;
                position: absolute;
                left: 5px;
            }
        }
        #volume:hover + #volumeSlider,
        #volumeSlider:hover {
            display: block;
        }

        #shuffle {
            @include playerOptionIcon;
            background-position-y: -108px;
            &.true { background-position-x: -60px; }
            &.false { background-position-x: 0px; }
        }
        #loop {
            @include playerOptionIcon;
            background-position-y: -108px;
            &.none { background-position-x: -120px; }
            &.one { background-position-x: -180px; }
            &.all { background-position-x: -270px; }
        }
        #crossfade {
            @include playerOptionIcon;
            background-position-y: -108px;
            &.true { background-position-x: -360px; }
            &.false { background-position-x: -300px; }
        }

        #previous {
            @include playerOptionIcon;
            background-position: -240px -68px;
        }
        #next {
            @include playerOptionIcon;
            background-position: -360px -68px;
        }
        #playPause {
            @include playerOptionIcon;
            background-position-y: -68px;
            width: 40px;
            &.play { background-position-x: -0px; }
            &.pause { background-position-x: -120px; }
        }
    }

    .secondLine {
        background: #121212;
        height: 25px;

        #time {
            float: left;
            line-height: 25px;
            color: #999;
            text-align: center;
            font-weight: bold;

            #timeElapsed { color: #FFF; }
        }

        #progressBar {
            float: left;
            background: url(../images/progressbar.png) 0 -40px;
            height: 10px;
            width: 230px;
            margin: 8px 5px 7px;
            position: relative;

            .left {
                height: 10px;
                width: 5px;
                background: url(../images/progressbar.png);
                background-position: 0 -60px;
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
            }
            .elapsed {
                height: 10px;
                background: url(../images/progressbar.png);
                background-position: 0 -70px;
                position: absolute;
                width: 0%;
            }
            .right {
                height: 10px;
                width: 5px;
                background: url(../images/progressbar.png);
                background-position: 0 -50px;
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 1;
            }

            .goog-slider-thumb {
                background: url(../images/progressbar_scrubber.png) -10px -10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                position: absolute;
                top: -5px;
                z-index: 2;

                &:hover {
                    background-position-x: -50px;
                }
            }
        }
    }
}

#playlist {
    color: #666;
    height: 300px;
    overflow: auto;

    .header {
        background: #F1F1F1;
        font-weight: bold;
        height: 20px;
        .song {
            margin-left: 18px;
        }
    }

    .song, .artist {
        padding: 2px 5px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .song {
        width: 140px;
    }
    .artist {
        width: 125px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .item {
        clear: both;
        height: 20px;
        background: #FFF;
        &.odd { background: whiteSmoke; }
        &.active { color: #FFF; background: #FFA944 !important; }

        .playPause {
            @include songOptionIcon;
            background-position: -18px -0px;
            float: left;
            margin: 1px;
            &:hover { background-position: -36px -0px; }
        }
        &.active .playPause {
            &.play { background-position: -72px -0px; }
            &.pause { background-position: -72px -18px; }
        }
    }
}

#radio {
    color: #999;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;

    #radioTitle {
        color: #CCC;
    }
}
