
body {
    color: #CCC;
    background: url('../images/background_nowPlaying.png') repeat-x -50px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    height: 35px;
}

#countDown {
    background: #444;
    width: 100%;
    height: 5px;
    margin: 0px -7px;
    position: absolute;
    bottom: 0px;
}

#switchToFullNotification {
    width: 5px;
    height: 5px;
    background: #555;
    position: absolute;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

/* PLAYER OPTIONS */

.player {
    position: absolute;
    bottom: -2px;
    right: 10px;
}

.player button {
    width: 20px;
    height: 35px;
    background: url('../images/controls.png') no-repeat;
    border: none;
    cursor: pointer;
}

#playpause.play { background-position: -50px 0px !important; }
#playpause.pause { background-position: -50px -40px !important; }
#previous { background-position: -50px -80px !important; }
#next { background-position: -50px -120px !important; }

#playpause:hover,
#previous:hover,
#next:hover {
    background-position-x: -130px !important;
}

/* NOW PLAYING */

.nowPlaying .song {
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
}

div.scrollingtext{
    position: absolute;
    white-space: nowrap;
}

/* PROGRESS BAR */

.progressbar {
    background: url('../images/progressBar/background.png') repeat-x;
    height: 9px;
    width: 200px; /* 285 */
    position: absolute;
    bottom: 7px;
}

.progressbar .left {
    background: url('../images/progressBar/left.png') no-repeat;
    height: 9px;
    width: 4px;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.progressbar .right {
    background: url('../images/progressBar/right.png') no-repeat;
    height: 9px;
    width: 4px;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
}

.progressbar .elapsed {
    background: url('../images/progressBar/foreground.png') repeat-x;
    width: 0%;
    height: 9px;
}

.progressbar a {
    background: url('../images/progressBar/scrubber.png') no-repeat !important;
    width: 15px !important;
    height: 16px !important;
    cursor: pointer !important;
}


