
body {
    color: #CCC;
    background: url('../images/background_nowPlaying.png') repeat-x -50px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    height: 85px;
}

#image {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

#song {
    color: #FFF;
    font-size: 1.4em;
}

#library,
#favorite {
    width: 19px;
    height: 18px;
    position: absolute;
    top: 70px;
    cursor: pointer;
}

#library {
    background: url('../images/library.png');
    left: 8px;
}

#favorite {
    background: url('../images/favorite.png');
    left: 27px;
}

#library.disable,
#favorite.disable {
    opacity: .5;
}

#library:hover,
#favorite:hover {
    opacity: .75;
}


#smile,
#frown {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 74px;
    cursor: pointer;
    background: url('../images/smile_frown.png');
    opacity: .5;
}

#smile.active:hover,
#frown.active:hover {
    opacity: 0.75;
}

#smile.active,
#frown.active,
#smile:hover,
#frown:hover {
    opacity: 1;
}

#smile { background-position: 0px 0px !important; left: 60px; }
#smile.active { background-position: 0px -14px !important; }
#frown { background-position: -14px 0px !important; left: 74px; }
#frown.active { background-position: -14px -14px !important; }

#smile.disable,
#frown.disable {
    display: none;
}


#player {
    position: absolute;
    height: 40px;
    right: 10px;
    bottom: 5px;
}

#player button {
    width: 30px;
    height: 30px;
    background: url('../images/controls.png') no-repeat;
    border: none;
    cursor: pointer;
}

#playpause.play { background-position: -40px 0px !important; }
#playpause.pause { background-position: -40px -40px !important; }
#previous { background-position: -40px -80px !important; }
#next { background-position: -40px -120px !important; }

#playpause:hover,
#previous:hover,
#next:hover {
    background-position-x: -120px !important;
}

#countDown {
    background: #444;
    width: 100%;
    height: 5px;
    margin: 0px -7px;
    position: absolute;
    bottom: 0px;
}

