
body {
    background: #555;
    font-family: verdana, arial, sans-serif;
    height: 85px;
}

#body {
    background: #FFF;
    width: 600px;
    height: 450px;
    margin: 50px auto;
    padding: 5px 20px;
    position: relative;
}

#save {
    font-size: 1.5em;
    margin: 15px;
}

#status {
    background: #FFFB88;
    text-align: center;
    position: absolute;
    bottom: -36px;
    left: 0px;
    width: 630px;
    padding: 8px 5px 8px;
    display: none;
}

#showNotificationForMiliseconds {
    width: 60px;
}

