
body {
    color: #CCC;
    background: #252525;
    width: 320px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
}

/* PLAYER OPTIONS */

#player {
    text-align: center;
    background: url('../images/background_player.png') repeat-x;
    height: 40px;
    margin: -6px -6px;
}

#player button {
    width: 35px;
    height: 35px;
    background: url('../images/controls.png') no-repeat;
    border: none;
    cursor: pointer;
}

#playpause.play { background-position: -40px 0px !important; }
#playpause.pause { background-position: -40px -40px !important; }
#previous { background-position: -40px -80px !important; }
#next { background-position: -40px -120px !important; }

#loop.none { background-position: -40px -200px !important; }
#loop.all { background-position: -160px -200px !important; }
#loop.one { background-position: -280px -200px !important; }

#shuffle.false { background-position: -40px -160px !important; }
#shuffle.true { background-position: -160px -160px !important; }

#crossfade.false { background-position: -40px -240px !important; }
#crossfade.true { background-position: -160px -240px !important; }

#playpause:hover,
#previous:hover,
#next:hover {
    background-position-x: -120px !important;
}

#loop.none:hover,
#shuffle.false:hover,
#crossfade.false:hover {
    background-position-x: -80px !important;
}

#loop.all:hover,
#shuffle.true:hover,
#crossfade.true:hover {
    background-position-x: -200px !important;
}

#loop.one:hover {
    background-position-x: -320px !important;
}

#gotogrooveshark {
    background: url('../images/icon_30.png') no-repeat 5px !important;
}

/* NOW PLAYING */

#nowPlaying {
    background: url('../images/background_nowPlaying.png') repeat-x;
    height: 120px;
    margin: 5px -6px 0px -6px;
    padding: 5px;
    position: relative;
}

#nowPlaying .song {
    color: #FFF;
    font-size: 1.4em;
}

#nowPlaying .image {
    float: right;
    width: 100px;
    height: 100px;
}

#nowPlaying .time {
    font: 0.5em;
    position: absolute;
    bottom: 25px;
}

#nowPlaying .position {
    font: 0.5em;
    position: absolute;
    bottom: 25px;
    right: 112px;
}

#nowPlaying .inmusic,
#nowPlaying .favorite {
    width: 19px;
    height: 18px;
    position: absolute;
    bottom: 25px;
}

#nowPlaying .inmusic {
    background: url('../images/inmusic.png');
    right: 86px;
}

#nowPlaying .favorite {
    background: url('../images/favorite.png');
    right: 67px;
}

#nowPlaying .inmusic.disable,
#nowPlaying .favorite.disable {
    background: none;
}

/* PROGRESS BAR */

#progressbar {
    background: url('../images/progressBar_background.png') repeat-x;
    width: 98%;
    height: 9px;
    position: absolute;
    bottom: 10px;
}

#progressbar .left {
    background: url('../images/progressBar_left.png') no-repeat;
    height: 9px;
    width: 4px;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

#progressbar .right {
    background: url('../images/progressBar_right.png') no-repeat;
    height: 9px;
    width: 4px;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
}

#progressbar .elapsed {
    background: url('../images/progressBar_foreground.png') repeat-x;
    width: 50%;
    height: 9px;
}

#progressbar .scrubber {
    background: url('../images/progressBar_scrubber.png') no-repeat;
    height: 16px;
    width: 15px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -3px;
}

/* PLAYLIST */

#playlist {
    height: 300px;
    overflow: auto;
    margin: 0px -6px;
    background: #FFFFFF;
    color: #000000;
}

#playlist .item {
    margin: 2px;
    padding: 2px;
    cursor: pointer;

}

#playlist .item.odd {
    background: #F3F7FB;
}

#playlist .item.active,
#playlist .item.active:hover {
    background: #E1F7BD;
    color: #415C15;
}

#playlist .item:hover {
    background: #BDCEE0;
}

/* RADIO */

#radio {
    margin: 0px -6px -6px -6px;
    padding: 5px;
}

#radio.active {
    font-weight: bold;
}

