
body {
  width: 350px;
  background: #252525;
  color: #CCC;
}

strong {
  color: #EEE;
}



#player { text-align: center; }

#player button {
  width: 35px;
  height: 35px;
  background: url('../images/controls.png') no-repeat;
  border: none;
  cursor: pointer;
}

#playpause.play { background-position: -40px 0px !important; }
#playpause.pause { background-position: -40px -40px !important; }
#previous { background-position: -40px -80px !important; }
#next { background-position: -40px -120px !important; }

#shuffle.false { background-position: -40px -160px !important; }
#shuffle.true { background-position: -160px -160px !important; }

#loop.none { background-position: -40px -200px !important; }
#loop.all { background-position: -160px -200px !important; }
#loop.one { background-position: -280px -200px !important; }

#crossfade.false { background-position: -40px -240px !important; }
#crossfade.true { background-position: -160px -240px !important; }

#playpause:hover, #previous:hover, #next:hover { background-position-x: -120px !important; }
#shuffle.false:hover, #loop.none:hover, #crossfade.false:hover { background-position-x: -80px !important; }
#shuffle.true:hover, #loop.all:hover, #crossfade.true:hover { background-position-x: -200px !important; }
#loop.one:hover { background-position-x: -320px !important; }

#gotogrooveshark { background: url('../images/goto.png') no-repeat 5px !important; }



#nowPlaying { margin-top: 5px; margin-bottom: 10px; height: 115px; position: relative; }

#nowPlaying .song { color: #EEE; font-size: 1.2em; }
#nowPlaying .image { float: right; width: 100px; height: 100px; }
#nowPlaying .time { bottom: 15px; position: absolute; }
#nowPlaying .position { bottom: 15px; right: 155px; position: absolute; }

#nowPlaying .inmusic, #nowPlaying .favorite { width: 19px; height: 18px; bottom: 17px; position: absolute; }
#nowPlaying .inmusic { background: url('../images/inmusic.png'); right: 128px; }
#nowPlaying .favorite { background: url('../images/favorite.png'); right: 105px; }
#nowPlaying .inmusic.disable { background: url('../images/inmusic_disabled.png'); }
#nowPlaying .favorite.disable { background: url('../images/favorite_disabled.png'); }

#statusbar { background: #3B3B3B; bottom: 5px; width: 100%; height: 5px; position: absolute; }
#statusbar .elapsed { background: #B4D724; width: 50%; height: 5px; }



#playlist {
  height: 300px;
  overflow: auto;
}
#playlist .item {
  margin: 2px;
  padding: 2px;
  background: #202020;
  cursor: pointer;
}
#playlist .item:hover {
  background: #1C1C1C;
}


